<ul *ngIf="member" class="media-list">
    <li class="media front_picture">
        <div class="media-left img-pad">
            <img class="media-object img-circle img-size" src="{{member.profile_picture_url? member.profile_picture_url : '../assets/unknown_user.png'}}">
        </div>
        <div class="media-body">
            <h3 class="media-heading blue-colored">{{member.first_name}} {{member.last_name}}</h3>
            <h4 class="media-heading">{{member.title}}</h4>
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object icon-size" src="../assets/workplace.svg">
                </div>
                <div class="media-body">
                    <a (click)="companyClicked()">{{member.company?.name}}</a>
                </div>
            </div>
            <div class="media">
                <div class="media-left media-middle">
                    <img class="media-object icon-size" src="../assets/location-icon.svg">
                </div>
                <div *ngIf="member.location" class="media-body">
                    <h5>BE ALL {{member.location?.city_code | full_city_name}},{{member.location?.site_code}}</h5>
                </div>
            </div>
            <ng-container *ngIf="member.skills;else elseBlock">
                <ng-container *ngFor="let skill of member.skills;let i = index">
                    <label *ngIf="i<3" class="blue-colored skill"><h5>{{skill.value}}</h5></label>
                </ng-container>
                <label *ngIf="member.skills.length>3" class="blue-colored skill"><h5 style="font-weight: bold">{{member.skills.length-3}} more</h5></label>
            </ng-container>
            <ng-template #elseBlock><h5></h5></ng-template>
        </div>
    </li>
</ul>
